body{
	background-color: #;
}
h2{
	color: hotpink ;
	font-family: sans-serif ;
	font-size: 40px ;
}
h3{
	color: hotpink;
	font-family: normal ;
	font-size: 20px ;
}
h4{
	color: hotpink ;
	font-family: normal ;
	font-size: 20px ;
}